.Form__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form__group>input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    

}

.btn{
    padding:10px;
    border: 1px solid #162447;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    background: linear-gradient(to right, #f12711ee, #f5af19ec);
    font-weight: 500;
}

.btn:hover{
    border: 1px solid #162447;
    color: #162447;
    background-color: white;
    font-weight: 500;
}